<div class="row footer">
    <div class="col-1 logo"></div>
    <div class="col-1 offset-4 main"><a routerLink="/main">Головна</a> <br><span><svg width="64" height="2" viewBox="0 0 64 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="1" x2="64" y2="1" stroke="white" stroke-width="2"/>
        </svg>
        </span></div>
    <!-- <div class="col aboutUs"><a routerLink="/main">Про Нас</a></div> -->
    <div class="col constructor"><a routerLink="/constructor">Конструктор</a></div>
    <div class="col sizes"><a routerLink="/sizes">Pозміри</a></div>
    <div class="col care"><a routerLink="/care">Догляд</a></div>
    <div class="col feedbacks"><a routerLink="/feedback">Відгуки</a></div>
    <div class="col contacts"><a routerLink="/contact">Контакти</a></div>
    <div class="col-2 offset-1 cont ">
        <div><i class="fas fa-phone"></i> +380676847351</div>
        <div><i class="fab fa-instagram"></i> @mori_ari_i</div>
        <div><i class="fas fa-envelope"></i> moriartistudio@gmail.com</div>
        <p id="rights">All rights reserved<i class="fas fa-copyright"></i></p>
    </div>
</div>

