<div class="row">
    <aside class="col-sm-6 offset-3">
<hr>
<div class="card bg-light">
<article class="card-body mx-auto" >
	<h4 class="card-title mt-3 text-center">Забули пароль?</h4>
<div id="form-olvidado">
    <form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
      <fieldset>
        <span class="help-block text-center">
          Введіть електронну адресу, яку ви використовуєте для поточного акаунту - 
          <br>
          Вам буде надіслано електронний лист з інструкціями
          <br>
          <hr>
        </span>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Ваша електронна адреса" type="email">
        </div> <!-- form-group// -->
        <button type="submit" class="btn btn-dark-moon btn-block">
          Продовжити
        </button>
        <p class="help-block">
            <a routerLink="/login">Вхід</a>
        </p>
      </fieldset>
    </form>
  </div>
</article>
</div>
    </aside>
</div>
