div{
    font-family: 'Montserrat';
    font-style: normal;
}
.btn-dark-moon {
    background: #2B2B2B;;  /* fallback for old browsers */
    color: #fff;
    border: 3px solid #eee;
}
a{
    color: #2B2B2B;
}