<div class="row">
    <div class="language col-2">UA/RU</div>
            <div class="main col-1"><a routerLink="/main">Головна</a> <br><span><svg width="64" height="2" viewBox="0 0 64 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="1" x2="64" y2="1" stroke="white" stroke-width="2"/>
                </svg>
                </span></div>
            <div class="aboutUs col-1">Про Нас</div>
            <div class="constructor col-1">Конструктор</div>
            <div class="sizes col-1">Розміри</div>
            <div class="care col-1">Догляд</div>
            <div class="feedbacks col-1">Відгуки</div>
            <div class="contacts col-1">Контакти</div>
            <div class="enter col-1"><button><a routerLink="/login">Вхід</a></button>
               <button><a routerLink="/registration">Реєстрація</a></button> </div>
            <div class="liked col-1"><i class="far fa-heart"></i></div>
            <div class="basket col-1"><i class="fas fa-shopping-basket"></i></div>
</div>