@media only screen and (min-width: 576px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {
    .main, .aboutUs, .constructor, .sizes, .care, .feedbacks, .contacts, .profile{
        padding: 0px;
        height: 17px;
        width: 120px;
        margin-top: 51px;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.025em;
        color: #FFFFFF;
    }
    .main{
        font-weight: 800;
        margin-left: 0px;
    }
    .liked, .basket{
        margin-top: 44px;
        color: #FFFFFF;
        height: 40.64px;
        width: 46px;
        font-size: 14px;
        font-style: normal;
        .fa-shopping-cart, .fa-heart{
            font-size: 30px;
        }
    }
    .liked, .basket{
        padding: 0px;
        height: 17px;
        width: 120px;
        margin-top: 51px;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.025em;
        color: #FFFFFF;
    }
}
.enter{
    width: 148px;
    // height: 40px;
    margin-top: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.025em;
    margin-right: 30px;
    button{
        border: 1px solid white;
        background: #2B2B2B;
        font-size: 14px;
        line-height: 30px;
        a{
            color: #FFFFFF;
        }
    }
}
a{
    color: #FFFFFF;
}