<div class="row">
    <aside class="col-sm-6 offset-3">
<hr>
<div class="card bg-light">
<article class="card-body mx-auto" >
	<a routerLink="/registration" class="float-right btn btn-dark-moon">Реєстрація</a>
    <h4 class="card-title mb-4 mt-1">Вхід</h4>
	<p>
		<a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Вхід через Google</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Вхід через Facebook</a>
	</p>
	<hr>
	<form [formGroup]="loginForm">
	<div class="form-group input-group">
        <input name="" class="form-control" placeholder="Електронна пошта/Логін" type="email" style="max-width: 400px;" formControlName="email">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <input class="form-control" placeholder="******" type="password" formControlName="password">
    </div> <!-- form-group// -->                                       
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <button type="submit" class="btn btn-dark-moon btn-block" (click)=(loginHandler())> Вхід  </button>
            </div> <!-- form-group// -->
        </div>
        <div class="col-md-6 text-center">
            <a routerLink="/reset"> Забули пароль? </a>
        </div>                                            
    </div> <!-- .row// -->                                                                   
</form>
</article>
</div> <!-- card.// -->
<hr>
</aside>
</div> 

<!--container end.//-->
