.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-google {
    background-color: #dd4b39;
    color: #fff;
}
div{
    font-family: 'Montserrat';
    font-style: normal;
}
form{
    width: 256px;
}
.btn-dark-moon {
    background: #2B2B2B;  /* fallback for old browsers */
    color: #fff;
    border: 3px solid #eee;
}
a{
    color: #2B2B2B;
}