<hr>
<div class="row">
    <div class="col-6 offset-3">
        <form [formGroup]="userForm">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="" 
                class="form-control" 
                type="name" 
                formControlName="name" 
                [attr.disabled]='editModeEnabled? null:true'>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                 </div>
                <input name="" 
                class="form-control" 
                placeholder="Електронна адреса" 
                type="text" 
                formControlName="email" 
                [attr.disabled]='editModeEnabled? null:true'>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <input name="" 
                class="form-control" 
                placeholder="Номер телефону" 
                type="number" 
                formControlName="phone" 
                [attr.disabled]='editModeEnabled ? null:true'>
            </div> <!-- form-group// -->   
            <div>
                <button *ngIf="!editModeEnabled" class="edit" (click)="switchEditMode()">Редагувати</button>
                <button *ngIf="editModeEnabled" (click)="switchEditMode()" class="cancel"> Скасувати зміни </button>
                <button *ngIf="editModeEnabled" class="save" (click)='saveChangesHandler()'> Зберегти зміни </button>
            </div>                                                                                            
        </form>
    </div>
</div>
<div class="container"></div>
<hr>
